# Python
__pycache__/
*.py[cod]
*.pyc

# Virtual environment
.venv/
env/
venv/

# Testing
.pytest_cache/
htmlcov/
.coverage
.coverage.*

# Environment variables
.env
.envrc

# IDE
.idea/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Project
reports/

# Allure reports
allure-results/
allure-report/

#egg
contact_list_qa.egg-info/